# Node.js
node_modules/
npm-debug.log*
yarn-debug.log*
yarn-error.log*
.env
dist/
build/

# OS
.DS_Store

# Coder workspace local cache
coder-data/

# Editor/IDE settings
.vscode/
.idea/

# Docker
*.tar
*.log
